---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div>
        <h1>Projects</h1>
        <p>This is the projects page</p>
    </div>
</BaseLayout>

<style>
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #FF2B51;
    }

    p {
        font-size: 1.5rem;
        color: #C0C0C0;
    }
</style>