---

---

<footer class="container">
    <div>
        <p class="footer-text">Web Designer</p>
        <p class="footer-text-2">From <span>IN</span> </p>
    </div>

    <div class="social-icons">
        <a href="/">
            <img src="assets/icons/x.png" alt="X" class="icon">
        </a>
        <a href="/">
            <img src="assets/icons/twitch.png" alt="Twitch" class="icon">
        </a>
        <a href="/">
            <img src="assets/icons/instagram.png" alt="Instagram" class="icon">
        </a>
        <a href="/">
            <img src="assets/icons/linkedin.png" alt="Linkedin" class="icon">
        </a>
    </div>
</footer>

<style>
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: 3.5rem;
	}

	.footer-text {
		color: var(--white);
		font-size: 1.875rem;
		font-weight: 600;
	}

	.footer-text-2 {
		color: var(--secondary-text);
		font-size: 1.625rem;
		font-weight: 500;
	}

	footer div span {
		color: var(--primary-text);
		font-size: 1.75rem;
		font-weight: 700;
	}

	.social-icons {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	.icon {
		width: 2.25rem;
		height: 2.25rem;
	}
</style>