<div class="halo"></div>

<style>
	.halo {
		width: 710px;
		height: 710px;
		border: var(--halo) solid 37px;
		background-color: var(--bg);
		border-radius: 50%;
		box-shadow:
			0 0 70px 5px var(--halo),
			inset 0 0 70px 5px var(--halo);
		
		position: fixed;
		bottom: 10%;
		left: 49%;
		transform: translateX(-50%);
	}
</style>